
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 40px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.bubble {
  height: 200px;
}
.bubble-button {
  position: relative;
  width: 200px;
  height: 200px;

  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: float 4s ease-in-out infinite;
}


.bubble {
  height: 200px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.bubble-button:hover .bubble {
  transform: scale(1.1);
}

.bubble-button:active .bubble {
  filter: drop-shadow(0 0 18px rgba(173, 216, 230, 0.9))
          drop-shadow(0 0 35px rgba(173, 216, 230, 0.6));
}
.bubble-text {
  position: absolute;

  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: 600;
  color: #063772;
  font-weight: 400;
  pointer-events: none;

  transform: translateX(8px); 
}

.mini-bubble {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.9),
    rgba(173, 216, 230, 0.7),
    rgba(173, 216, 230, 0.4)
  );

  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease;

  pointer-events: none; 
}

.b1 { top: -15px; left: 30px; }
.b2 { top: 20px; right: -15px; }
.b3 { bottom: -10px; left: 40px; }
.b4 { bottom: 30px; right: 10px; }
.b5 { bottom: 10px; left: 10px; }

.bubble-button:hover .mini-bubble {
  opacity: 1;
  transform: scale(1);
}
.bubble-button:hover .b1 {
  transform: translate(-10px, -10px) scale(1.3);
}

.bubble-button:hover .b2 {
  transform: translate(12px, -6px) scale(2.2);
}

.bubble-button:hover .b3 {
  transform: translate(-8px, 12px) scale(1.6);
}

.bubble-button:hover .b4 {
  transform: translate(10px, 10px) scale(1.2);
}
.bubble-button:hover .b5 {
  transform: translate(10px, 10px) scale(0.9);
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
